Presentasjoner
.Rhistory
03_Integration_Sample1-4_RNA-ATAC.R
summary_plot.png
summary_plot.tiff
spatial_transcriptomic
Phenotypic_data/Data
Phenotypic_data/.Rhistory
Phenotypic_data/Plots
Phenotypic_data/Analysis/Uferdig
Phenotypic_data/Analysis/.Rhistory
Phenotypic_data/plot_of_weight.RData
Phenotypic_data/plot_of_fibrosis.RData
snRNAseq/Analysis/Uferdig
snRNAseq/Analysis/Script_for_Silje.R
snRNAseq/Analysis/InstallPackages.R
snRNAseq/Analysis/.Rhistory
snRNAseq/Data
snRNAseq/Plots
snRNAseq/testing
snRNAseq/tmp
snRNAseq/Visualization/Uferdig
snRNAseq/Visualization/.Rhistory
snRNAseq/Visualization/.RData
snRNAseq/.Rhistory
snRNAseq/.RData
snRNAseq/14Feb2025_testing.R
snRNAseq/21_03_25.RData
snRNAseq/common_genes_with_avg_log2FC_with_description.xlsx
snRNAseq/create_genes_plot_by_stress_status.R
snRNAseq/figure_of_fatty_acids.RData
snRNAseq/figure_of_glucose.RData
snRNAseq/figure_of_ketones.RData
snRNAseq/figure_of_pdh.RData
snRNAseq/figure_of_tca.RData
snRNAseq/figure_progeny.RData
snRNAseq/InstallPackages.R
snRNAseq/notes.txt
snRNAseq/progeny_3d.R
snRNAseq/stress_level.R
snRNAseq/test_filter_stressed_genes.R
snRNAseq/working_tet_stress_level.R
snATACseq/Analysis/install_packages_atac.R
snATACseq/Analysis/test2.R
snATACseq/Analysis/preprocessing_from_yt.R
snATACseq/Analysis/.Rhistory
snATACseq/Analysis/test2.R
snATACseq/Data
snATACseq/Plots
snATACseq/tmp
snATACseq/Visualization
snATACseq/add_atac_layer_to_seurat_object.R
snATACseq/fra_Ioanni.R
snATACseq/from_the_web.R
snATACseq/preprocessing_1d.R
snATACseq/preprocessing_1w.R
snATACseq/preprocessing_3d.R
snATACseq/preprocessing_3w.R
snATACseq/preprocessing_6h.R
snATACseq/preprocessing_12h.R
snATACseq/preprocessing_based_on_csv.R
snATACseq/preprocessing_from_yt.R
snATACseq/test.R