tmp
Data
1week_sham_ab
3days_sham_ab
3weeks_sham_ab
24h_sham_ab
Plots
Presentasjoner
.Rhistory
Animal_overview_TP.xlsx
InstallPackages.R
analyse_weight_data.R
common_genes_with_avg_log2FC_with_description.xlsx
notes.txt
testing/
theme_minimal.pdf