Phenotypic_data/Data
Phenotypic_data/Plots
Phenotypic_data/Animal_overview_TP
Phenotypic_data/.Rhistory
Phenotypic_data/anova_results.csv
Phenotypic_data/anova_results.xlsx
Phenotypic_data/Fibrosis
Phenotypic_data/tukey_results.csv
Phenotypic_data/tukey_results.xlsx
Presentasjoner
snRNAseq/Analysis/Uferdig
snRNAseq/Analysis/Script_for_Silje.R
snRNAseq/Analysis/InstallPackages.R
snRNAseq/Analysis/.Rhistory
snRNAseq/Data
snRNAseq/Plots
snRNAseq/testing
snRNAseq/tmp
snRNAseq/Visualization/Uferdig
snRNAseq/Visualization/.Rhistory
snRNAseq/.Rhistory
snRNAseq/analyse_weight_data.R
snRNAseq/Animal_overview_TP.xlsx
snRNAseq/common_genes_with_avg_log2FC_with_description.xlsx
snRNAseq/InstallPackages.R
snRNAseq/notes.txt
snRNAseq/theme_minimal.pdf
snATACseq/Analysis/install_packages_atac.R
snATACseq/Analysis/test2.R
snATACseq/Analysis/preprocessing_from_yt.R
snATACseq/Analysis/.Rhistory
snATACseq/Data
snATACseq/Plots
snATACseq/tmp
snATACseq/Visualization/.Rhistory
snATACseq/add_atac_layer_to_seurat_object.R
snATACseq/fra_Ioanni.R
snATACseq/test.R
.Rhistory
03_Integration_Sample1-4_RNA-ATAC.R